<div class="content">
  <h3 class="subtitle">Portfolio</h3>
  <div class="project">
    <div class="project-description">
      <div class="project-link">
        <h4>
          <a href="https://www.citygram.org/" target="_blank">Citygram</a>
        </h4>
      </div>
      <p id="tools">
        user research, front end development, UX/UI design
      </p>
      <p>
        Citygram is a notifications platform for subscribing to your city, whether it's local foreclosures or building permits along your commute. Sign up to find out about the things that matter to you where they matter to you.
      </p>
      <p>
        This was a 2014 <a href="http://www.codeforamerica.org/" target="_blank">Code for America</a> Fellowship project built by Team Charlotte in collaboration with Team Lexington.
      </p>
    </div>
    <div id="citygram" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#citygram" data-slide="next">
            <%= image_tag("citygram_home.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#citygram" data-slide="next">
            <%= image_tag("citygram_lex.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#citygram" data-slide="next">
            <%= image_tag("citygram_subscribe.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->

  <div class="project">
    <div class="project-description">
      <div class="project-link">
        <h4>
          Code for America Fellowship Timeline
        </h4>
      </div>
      <p id="tools">
        infographic, visual design
      </p>
      <p>
        Infographic created to easily communicate fellowship development process to our city partners. Design was shared with other fellows and staff to be repurposed for their cities and presentations. 
      </p>
    </div>
    <div class="project-image">
      <div class="thumbnail">
        <%= image_tag("fellowship_timeline.png") %>
      </div>
    </div>
  </div> <!-- project -->

  <div class="project">
    <div class="project-description">
      <div class="project-link">
        <h4>
            Chess Stats
        </h4>
      </div>
      <p id="tools">
        front end development, visual design
      </p>
      <p>
        Chess Stats gives Chess.com users insight into their playing history.
        Players can view their rating history and select past
        games for analysis. Users can perform statistical analysis
        where games are grouped by their openings.
      </p>
      <p>
        I developed the front-end and designed the look and feel of
        the site. <a href="https://github.com/ivanmalison"
        target="_blank">Ivan Malison</a> masterminded the back-end
        using Flask, Tornado, Python.
      </p>
    </div>
    <div id="chess" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#chess" data-slide="next">
            <%= image_tag("chess1.png") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#chess" data-slide="next">
            <%= image_tag("chess2.png") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#chess" data-slide="next">
            <%= image_tag("chess3.png") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#chess" data-slide="next">
            <%= image_tag("chess4.png") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->

  <div class="project">
    <div class="project-description">
      <div class="project-link">
        <h4>
          <a href="http://codeforamerica.github.io/lexington-qold/" target="_blank">Lexington Housing Dashboard</a>
        </h4>
      </div>
      <p id="tools">
        front end development, UI design, user research
      </p>
      <p>
        The Lexington Housing Dashboard is a tool designed for visualizing and understanding housing trends in Lexington and Fayette County. 
      </p>
      <p>
        Developed as a project for the 2014 <a href="http://www.codeforamerica.org/" target="_blank">Code for America</a> Fellowship, the dashboard displays neighborhood-level data like building permits, foreclosures, and code violations on an annual basis, allowing Lexingtonians to compare neighborhoods and see how they change over time.
      </p>
    </div>
    <div class="project-image">
      <div class="thumbnail">
        <%= image_tag("housing_dashboard.jpg") %>
      </div>
    </div>
  </div> <!-- project -->

</div>  <!-- webdev -->
