<div class="content">
  <h3 class="subtitle">Portfolio</h3>
  <div >
    <div class="project-description">
      <h4>Paintings 2012/2013</h4>
      <p id="tools">
        Oil, acrylic, canvas
      </p>
      <p>
        Part of a year-long series
        for <a href="http://academic.reed.edu/art/faculty/knutson/">Michael
          Knutson's</a> Intermediate Painting class at Reed College. 
      </p>
      <p>
        Preoccupied with:
        architectural light,
        disembodied space,
        Josef Albers' geometries, 
        precision.
      </p>
    </div>
    <div id="light-series" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting1.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting3.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting4.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting2.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->
  <div class="project">
    <div class="project-description">
      <h4>Painting Sketches</h4>
      <p id="tools">
        Acrylic, vellum paper.
      </p>
      <p>
        Gestural studies for above paintings. Motivated by Franz
        Kline and Willem de Kooning. 
      </p>
    </div>
    <div id="bw-series" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#bw-series" data-slide="next">
            <%= image_tag("painting_bw3.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#bw-series" data-slide="next">
            <%= image_tag("painting_bw2.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#bw-series" data-slide="next">
            <%= image_tag("painting_bw1.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->
  <div class="project">
    <div class="project-description">
      <h4>Painting Sketches</h4>
      <p id="tools">
        Graphite, charcoal, index cards.
      </p>
      <p>
        Small-scale studies for large-scale paintings. Played with
        light, spatial form, and smudgy fingers.
      </p>
    </div>
    <div id="bw-sketches" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#bw-sketches" data-slide="next">
            <%= image_tag("sketch_bw3.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#bw-sketches" data-slide="next">
            <%= image_tag("sketch_bw1.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#bw-sketches" data-slide="next">
            <%= image_tag("sketch_bw2.jpg") %
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->

</div> <!-- painting -->
