<div class="content">
  <h3 class="subtitle">Portfolio</h3>
  <div class="project">
    <div class="project-description">
      <h4><a href="https://civicquarterly.com/" target="_blank">Civic Quarterly</a></h4>
      <p id="tools">
        editorial illustration, web graphics
      </p>
      <p>
        Collaboratively created a publication with a group of <a href="http://www.codeforamerica.org/" target="_blank">Code for America</a> Fellows. Civic Quarterly discusses how digital tools and design thinking transform government. Our first journal was published in September 2014.
      </p>
      <p>
        Primary responsibilities include cover art, article illustration, and website graphics.
      </p>
    </div>
    <div id="cq-magazine" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#cq-magazine" data-slide="next">
            <%= image_tag("cq_covers.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#cq-magazine" data-slide="next">
            <%= image_tag("cq_housing.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#cq-magazine" data-slide="next">
            <%= image_tag("cq_techstack.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#cq-magazine" data-slide="next">
            <%= image_tag("cq_error.jpg") %>
          </a>
        </div>

      </div>
    </div>
  </div> <!-- project -->

  <div class="project">
    <div class="project-description">
      <h4>Author Avatars</h4>
      <p id="tools">
        editorial illustration, portraiture
      </p>
      <p>
        Contributor and editorial board avatars for the second issue of <a href="https://civicquarterly.com/" target="_blank">Civic Quarterly</a>. 
      </p>
    </div>
    <div id="cq-portraits" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#cq-portraits" data-slide="next">
            <%= image_tag("cq_portraits2.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#cq-portraits" data-slide="next">
            <%= image_tag("cq_portraits1.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->

  <div class="project">
    <div class="project-description">
      <h4><a href="http://www.nomadicpress.org/store/nomadicjournalchanges" target="_blank">Nomadic Journal: Changes</a></h4>
      <p id="tools">
        short story illustration
      </p>
      <p>
        Ink illustrations for an annual writers' journal of ten short stories, essays, and poems. Published by <a href="http://www.nomadicpress.org/" target="_blank">Nomadic Press</a>. 
      </p>
    </div>
    <div id="nomadic-press" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#nomadic-press" data-slide="next">
            <%= image_tag("nomadic_figments.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#nomadic-press" data-slide="next">
            <%= image_tag("nomadic_jellyfish.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#nomadic-press" data-slide="next">
            <%= image_tag("nomadic_iowa.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->

  <div class="project">
    <div class="project-description">
      <h4>Paintings 2012/2013</h4>
      <p id="tools">
        oil painting, fine arts
      </p>
      <p>
        Part of a year-long series
        for <a href="http://academic.reed.edu/art/faculty/knutson/">Michael
          Knutson's</a> Intermediate Painting class at Reed College. 
      </p>
      <p>
        Preoccupied with:
        architectural light,
        disembodied space,
        Josef Albers' geometries, 
        precision.
      </p>
    </div>
    <div id="light-series" class="project-image carousel">
      <div class="carousel-inner">
        <div class="thumbnail item active"> 
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting1.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting3.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting4.jpg") %>
          </a>
        </div>
        <div class="thumbnail item">
          <a href="#light-series" data-slide="next">
            <%= image_tag("painting2.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- project -->
</div> <!-- painting -->
